{
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [
      "warn",
      {
        "code": 140,
        "tabWidth": 2
      }
    ]
  }
}
